.panel-body {
  text-align: center;
}
h4.job-title {
  margin-top: 1em;
  text-align: center;
  font-weight: bold;
}

h3.panel-title {
  text-align: center;
}

.profile-photo {
  height: 256px;
  width: 256px;
  object-fit: cover;
}

img.circled{
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.social-icon{
  margin-top:15px;
  height: 25px;
}

.social-icon:nth-of-type(odd) {
  text-align: right;
}

.social-icon:nth-of-type(even) {
  text-align: left;
}

.social-icon a{
  display: inline-block;
  text-decoration: none;
  opacity: .6;
}

.social-icon a:hover{
  opacity: 1;
}

.facebook:before{
    content: "";
    display: block;
    background: url("../img/icons/facebook.png") no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
}

.linkedin:before{
  content: "";
    display: block;
    background: url("../img/icons/linkedin.png") no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
}

#yongjun {
  margin: 0 auto;
  background-image: url("../img/yongjun.jpg");
  background-position:55% 5%;
}
