h4.job-title {
  margin-top: 1em;
  text-align: center;
  font-weight: bold;
}

h3.panel-title {
  text-align: center;
}

.crop {
  position: relative;
  width: 256px;
  height: 256px;
  margin: auto;
  overflow: hidden;
  border-radius: 5px;
}
.profile-photo {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  transform: translate(-50%,-50%);
}

img.circled{
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.social-icon{
  margin-top:15px;
  height: 25px;
}

.social-icon:nth-of-type(odd) {
  text-align: right;
}

.social-icon:nth-of-type(even) {
  text-align: left;
}

.social-icon a{
  display: inline-block;
  text-decoration: none;
  opacity: .6;
}

.social-icon a:hover{
  opacity: 1;
}

.facebook:before{
    content: "";
    display: block;
    background: url("../img/icons/facebook.png") no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
}

.linkedin:before{
  content: "";
    display: block;
    background: url("../img/icons/linkedin.png") no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
}
