h4.job-title {
  margin-top: 1em;
  text-align: center;
  font-weight: bold;
}

h3.panel-title {
  text-align: center;
}

.panel-body {
  text-align: center;
}

.profile-photo {
  height: 256px;
  width: 256px;
  object-fit: cover;
}

p.footer {
  text-align: center;
  font-size: 0.8em
}
